<ion-view title="The Clumsy Knight">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <p>The girl of your dreams has been stolen by an evil dragon. He places her in the middle of a castle. He plans to eat her in three days after his journey to Transylvania. You have until then to save her...</p>
        <div class="button game-onebutton"><img src="img/button_images/start.png"></div>
    </ion-content>
</ion-view>
