<ion-view title="The Clumsy Knight">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <p>You reach into your handy dandy utility belt and pull out a grapping hook. You throw it as hard as you can over the castle wall and begin to climb. You are standing on the top of the wall. What do you do now?</p>
        <div>
            <img class="button game-twobutton" width="150" src="img/button_images/repel.png">
            <img class="button game-twobutton" width="150"  src="img/button_images/jump.png">
        </div>
    </ion-content>
</ion-view>
