<ion-view title="The Clumsy Knight">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" data-ng-init="init()">
        <p>{{data.description}}</p>
        <div>
            <img class="button game-twobutton" ng-click="clickPicture(data.pictures[0].picture1[0].clickEvent)" width="150" src="{{data.pictures[0].picture1[0].imgurl}}">
            <img class="button game-twobutton" ng-click="clickPicture(data.pictures[0].picture2[0].clickEvent)" width="150"  src="{{data.pictures[0].picture2[0].imgurl}}">
            <img class="button game-twobutton" ng-click="clickPicture(data.pictures[0].picture3[0].clickEvent)" width="150" src="{{data.pictures[0].picture3[0].imgurl}}">
            <img class="button game-twobutton" ng-click="clickPicture(data.pictures[0].picture4[0].clickEvent)" width="150"  src="{{data.pictures[0].picture4[0].imgurl}}">
        </div>
    </ion-content>
</ion-view>
